h1{
  font-size: 145px;
  text-align: center;
  text-decoration: underline 10px;
}

h2{
  font-size:100px;
  text-align: center;
}


.dre{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 5px solid black;
}
